<ion-tabs>

    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="pending-tab" href="/tabs/pending-tab">
            <ion-icon aria-hidden="true" name="clipboard-outline"></ion-icon>
            <ion-label>Pendientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="completed-tab" href="/tabs/completed-tab">
            <ion-icon aria-hidden="true" name="checkmark-done"></ion-icon>
            <ion-label>Completadas</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
