<ion-header class="ion-no-border" [translucent]="true">    
    <ion-toolbar color="dark">        
        <ion-title>Tareas pendientes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
    <!-- Lista de las tareas pendientes -->
    <app-lists [completedList]="false"></app-lists>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="addList()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>